<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
						initial-scale=1.0">
    <title>SIMFORM - Signup</title>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" href="/images/simform-logo.png">

</head>

<body>
<header>
    <h1 class="heading">SIMFORM</h1>
    <h3 class="title">Registration</h3>
</header>

<!-- container div -->
<div class="container">

    <!-- upper button section to select
        the login or signup form -->
    <div class="btn">
        <button class="signup">Signup</button>
    </div>

    <!-- Form section that contains the
        login and the signup form -->
    <div class="form-section">

        <!-- signup form -->
        <div class="signup-box">
            <form th:action="@{login}" method = "post" th:object="${loginEmp}">
                <input type="text"
                       class="name ele"
                       placeholder="Enter your name" name="name">
                <input type="email"
                       class="email ele"
                       placeholder="youremail@email.com" name="email">
                <input type="password"
                       class="password ele"
                       placeholder="password" name="password">
                <button class="clkbtn">Signup</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
