<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
						initial-scale=1.0">
    <title>SIMFORM - Signup</title>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" href="/images/simform-logo.png">
</head>

<body>
<header>
    <h1 class="heading">SIMFORM</h1>
    <h3 class="title">Registration Here</h3>
</header>

<!-- container div -->
<div class="container">


    <div class="btn">
        <button class="signup">Signup</button>
    </div>

    <div class="form-section">
        <!-- signup form -->
        <div class="signup-box">
            <form novalidate="novalidate" th:action="@{login}" method="post" th:object="${loginEmp}">
                <input type="text"
                       class="name ele"
                       placeholder="Enter your name" id="validationServer02" name="name"
                       th:classappend="${#fields.hasErrors('name')?'is-invalid':''}" >
                <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}" style = "padding: 3px;color:red">
                </div>
                <input type="email"
                       class="email ele"
                       placeholder="youremail@email.com" name="email"
                       th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">
                <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}" style = "padding: 3px;color:red">
                </div>
                <input type="password"
                       class="password ele"
                       placeholder="password" name="password" >

                <button class="clkbtn">Signup</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/index.js}"></script>

</body>
</html>
